:root {
  --color-1: #f6f1d5;
  --color-3: #db623a;
  --color-5: #547291;
  --color-6: #3eb0be;
  --color-7: #4359a0;
  --color-8: #243a69;
}

.mere_nav {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 9;
}

.mere_title {
  color: #5a5858;
  font-weight: 700;
}

.mere_p {
  color: #7a7777 !important;
  text-align: justify;
}

.mere_navbar_color {
  color: #574008 !important;
}

.vlad_p {
  color: #574008;
  /*text-align: center; */
  font-size: 18px;
}

.vlad_card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  flex: 1 1 calc(33.333% - 40px); /* Tres columnas con un espacio entre ellas */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.vlad_respuestas {
  color: #5A5858;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.vlad_result_title {
  font-weight: 700;
  color: #4f833c;
  font-size: 37px;
  text-align: center;
  margin-bottom: 0px;
}

.vlad_result_device {
  font-weight: 800;
  color: #4f833c;
  font-size: 30px;
  text-align: center;
}

.vlad_result_subtitle {
  color: #4f833c;
  text-align: center;
  font-size: 20px;
}

.vlad_result_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
}

.vlad_result_advice {
  font-family: "Kalam", cursive;
  text-align: left;
  color: #4e4e4e;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.vlad_result_advice h5 {
  color: #4f833c;
}

.vlad_result_advice li {
  margin-bottom: 10px;
}

.vlad_result_button {
  background-color: #4f833c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px 0;
}

.vlad_details_button {
  background-color: #4f833c;
  color: #ffffff;
  border: none;
  text-align: center;
  border-radius: 5px;
  padding: 0px 0px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 15px;
}

.vlad_result_button.moderate {
  background-color: #eeba3a;
}

.vlad_result_button.high {
  background-color: #af1e1e;
}

.vlad_tooltip_container {
  position: relative;
  display: inline-block;
}

.vlad_tooltip {
  position: absolute;
  left: 90px; /* Ajusta la posición horizontal */
  background-color: #f9c74f;
  color: #574008;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  font-size: 16px;
  white-space: nowrap;
}

.vlad_tooltip::before {
  content: "";
  position: absolute;
  top: 100%; /* Posiciona la punta justo debajo del tooltip */
  left: 50%; /* Centra horizontalmente la punta */
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #f9c74f transparent transparent transparent;
}

.login-container {
  background-color: var(--color-1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow: hidden; /* Ajuste para prevenir desbordamiento */
  overflow-y: auto; /* Permitir el desplazamiento solo en el contenido */
}

.card-body {
  flex-direction: column;
  background: white;
  padding: 20px !important;
  border-radius: 18px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  margin-bottom: 20px;
  max-width: 90%; /* Limita el ancho máximo */
  margin-left: auto;
  margin-right: auto;
}

.navbar-custom {
  background-color: var(--color-2);
}

.color-principal {
  background-color: var(--color-1);
}

.div_principal {
  min-height: 100vh;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .card-body-mobile {
    padding: 1rem;
  }
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 991px) {
  .card-body-tablet {
    padding: 2rem;
  }
}

/* Estilos para escritorios */
@media (min-width: 992px) {
  .card-body-desktop {
    padding: 1rem;
  }
}

.vh-100 {
  min-height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.btn-primary {
  background-color: #4359a0;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  display: none; /* Oculta las barras de desplazamiento */
}

body {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
